# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Jupyter Notebook
# ==========================
.ipynb_checkpoints/

# ==========================
# Virtual Environments
# ==========================
venv/
.env/
.venv/
env/

# ==========================
# IDE Files
# ==========================
.vscode/
.idea/

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Machine Learning Artifacts
# ==========================
technical/ml/models/
*.pkl
*.joblib
*.h5
*.onnx

# ==========================
# Temporary Files
# ==========================
*.tmp
*.temp